
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container form-container col-lg-6 col-md-8 col-12 mt-5">
        <div class="shadow-lg p-4 bg-white rounded">
            <h1 class="text-center mb-4">Inscriptions fermées</h1>
            <p class="text-center">Les inscriptions sur notre site sont actuellement fermées. Pour toute question, veuillez contacter l'administrateur du site.</p>
            <div class="d-grid gap-2 mb-3">
                <a href="/" class="btn btn-warning btn-add-car">Retour à l'accueil</a>
            </div>
        </div>
    </div>
</div>
