@model OC_P5.ViewModels.CarViewModel

@{
    ViewData["Title"] = "Supprimer une voiture";
}

<div class="container">
    <h2 class="text-center my-5">Supprimer la voiture</h2>
    <h5 class="text-center text-muted">Êtes-vous sûr de vouloir supprimer cette voiture ? Cette action est irréversible.</h5>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    Nom de la voiture
                </dt>
                <dd class="col-sm-8">
                    @Model.Label
                </dd>

                <dt class="col-sm-4">
                    Numéro VIN
                </dt>
                <dd class="col-sm-8">
                    @Model.VIN
                </dd>

            </dl>

            <form asp-action="Delete" method="post" class="text-center mt-4">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger btn-lg">Confirmer la suppression</button>
                <a asp-action="Index" class="btn btn-secondary btn-lg ms-3">Annuler</a>
            </form>
        </div>
    </div>
</div>
