@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Mot de passe oublié ?";
}

<div class="d-flex justify-content-center align-items-start" style="min-height: 100vh;">
    <div class="container form-container col-lg-4 col-md-6 col-12 mt-5">
        <form id="forgot-password" method="post" class="shadow-lg p-4 bg-white rounded">
            <h1 class="text-center mb-4">ExpressVoitures</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label">Adresse email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-warning btn-add-car">Réinitialiser le mot de passe</button>
            </div>
            <div class="text-center">
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Renvoyer l'email de confirmation</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
