@model OC_P5.ViewModels.CarViewModel

@{
    ViewData["Title"] = "Voiture modifiée";
}

<div class="container text-center mt-5">
    <h2 class="text-muted">Merci !</h2>
    <p>Votre voiture <strong>@Model.Label</strong> a bien été modifiée !</p>
    <a href="@Url.Action("Details", "Cars", new { id = Model.Id })" class="btn btn-warning btn-add-car">Fiche de la voiture</a>
</div>

<script>
    setTimeout(function () {
        window.location.href = '@Url.Action("Details", "Cars", new { id = Model.Id })';
    }, 5000);
</script>
